* {
    box-sizing: border-box;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', 'Arial', 'San serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

img {
    width: 100%;
    display: block;
}


.dot {
    list-style-type: none;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 50px;
    margin-right: 60px;
}

.header-container1 {
    display: flex;
    align-items: center;
}

.header-container2 {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    white-space: nowrap;
}

.header-list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E0606;
    margin-top: 66px;
    margin-right: 20px;
}

.header-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E0606;
    margin-top: 64px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    background: black;
    color: white;
    text-decoration: none;
    border: none;
    padding: 9px 22px;
    cursor: pointer;
}

.footer {
    display:flex;
    max-width: 100%;
    background: #434343;
    margin: 150px auto;
}
.footer1 {
    display: flex;
    width: 1180px;
}
.container.footer-container {
    width: 380px;
}
.container.footer-container1 {
    width: 380px;
    margin-left: 57px;
}

.footer-list {
    padding-left: 0px;
}
.footer-container1 a { 
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    padding-top: 100px;
}
.footer-text-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.container.footer-container2 {
    width: 380px;
    margin-left: 3px;
}
.footer-container2 a {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
}
.footer-text-bottom1 {
    color: #A2A2A2;
}
.footer-list1 {
    display: inline-flex;
}
.container.footer-container3 {
    width: 380px;
    margin-right: -77px;
}
.category-list {
    display:flex;
    padding-left: 0px;
}
.category-list1 {
    background: url(../images/svg/category1.svg)no-repeat;
}
.category-list2 {
    background: url(../images/svg/category2.svg)no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 23px;
}
.category-list3 {
    background: url(../images/svg/category3.svg)no-repeat;
    margin-right: 20px;
}

.category-list4 {
    background: url(../images/svg/category4.svg)no-repeat; 
}
.category-list5 {
    background: url(../images/svg/category5.svg)no-repeat;
    margin-left: 20px;
    margin-right: 20px;
}
.category-list6 {
    background: url(../images/svg/category6.svg)no-repeat;
}
.category-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    text-decoration: none;
    text-align: center;
    width: 280px;
    height: 270px;
}
.category-list1 a {
    padding: 103px 75px;
}
.category-list2 a {
      padding: 103px 63px;
}      
  .category-list6 a {
    padding: 103px 63px;
}
    


