* {
    box-sizing: border-box;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', 'Arial', 'San serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

img {
    width: 100%;
    display: block;
}


.dot {
    list-style-type: none;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 50px;
    margin-right: 60px;
}

.header-container1 {
    display: flex;
    align-items: center;
}

.header-container2 {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    white-space: nowrap;
}

.header-list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E0606;
    margin-top: 66px;
    margin-right: 20px;
}

.header-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #1E0606;
    margin-top: 64px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    background: black;
    color: white;
    text-decoration: none;
    padding: 9px 22px;
    cursor: pointer;
    border: none;
}

.footer {
    background: #434343;
    background-size: 100%;
    margin: 150px auto;
}
.footer-columns {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    padding-bottom: 28px;
}
.footer-column {
    width: 380px;
}
.footer-column-2-3 {
    margin-left: 20px;
}
.footer-column li a {
    color: #FFFFFF;
    text-decoration: none;
}
.footer a:nth-child(3) {
    color: #A2A2A2;
    text-decoration: none;
    padding-top: 39px;
}
.footer-list {
    margin-left: -41px;
    padding-top: 28px;
}
.footer-list li {
    padding-bottom: 15px;
}
.footer-text {
    color: #AAAAAA;
    padding-top: 100px;
    padding-bottom: 23px;
}
.footer p:nth-child(3) {
    width: 123px;
}
.footer-border {
    border-bottom: 2px solid #666;
}
.footer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
}
.footer-button {
    margin-top: -20px;
}
.input-footer {
    padding-top: 9px;
    padding-left: 17px;
    padding-bottom: 9px;
    width: 380px;
    border: none;
    background: #666666;
   
}
.input-footer:focus {
    border: 1px solid #FFFDFD;
}
.input-footer::placeholder {
    color: #EBEBEB ;
}
.footer-social-network {
    display: flex;
    padding-top: 25px;
    margin-left: -50px;
}
.footer-social-network li {
    padding-left: 10px;
}
.footer-bottom-border {
    border-top: 2px solid #666;
}
.footer-text-bottom {
    color: #FFFFFF;
    padding-top: 23px;
}
.footer-column-form {
    display: flex;
    align-items: baseline;
}



.category-list {
    display:flex;
    padding-left: 0px;
}
.category-list1 {
    background: url(../images/svg/category1.svg) no-repeat;
}
.category-list2 {
    background: url(../images/svg/category2.svg) no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 23px;
}
.category-list3 {
    background: url(../images/svg/category3.svg) no-repeat;
    margin-right: 20px;
}

.category-list4 {
    background: url(../images/svg/category4.svg) no-repeat; 
}
.category-list5 {
    background: url(../images/svg/category5.svg) no-repeat;
    margin-left: 20px;
    margin-right: 20px;
}
.category-list6 {
    background: url(../images/svg/category6.svg) no-repeat;
}
.category-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    text-decoration: none;
    text-align: center;
    width: 280px;
    height: 270px;
}
.category-list1 a {
    padding: 103px 75px;
}
.category-list2 a {
      padding: 103px 63px;
}      
  .category-list6 a {
    padding: 103px 63px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: -15px;
}
.breadcrumbs a {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606; 
    text-decoration: none;
    padding-right: 20px;
}
.vector {
    background: url(../images/svg/Vectorstroke.svg) no-repeat;
    width: 8px;
    height: 12px;
    padding-right: 20px;
}
.text-breadcrumbs {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1E0606;
    opacity: 0.5;
}
.contactus-form {
    max-width: 680px;
    background: #E5EAF8;
    padding: 42px 40px;
    margin-top: 50px;
}
.button-form { 
    display: block;
    margin-top: 25px;
}
input {
    border: 1px solid;
    background: #FFFFFF;
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 11px;
    margin-bottom: 20px;   
    outline: none;
}
input:focus,
textarea:focus {
    border: 1px solid #C29974
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.input-wrapper-column {
    display: flex;
    justify-content: space-between;
}
.input-1-wrapper {
    display: flex;
    flex-direction: column;
    width: 290px;
}
.input-wrapper-textarea {
    height: 150px;
    outline: none;
    resize: none;
}
input[type=checkbox],
input[type=radio] {
    display: none;
}

.input-wrapper-checkbox {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-top: 20px;
}
.checkbox-label {
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    margin-top: -24px;
    cursor: pointer;
} 

.checkbox-label::before {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid #C29974;
    width: 17px;
    height: 17px;
    background: transparent;
    border-radius: 3px;
    top: -3px;
    left: -1px;
}
.checkbox-label::after {
    content:"";
    background: url(../images/svg/che—Åkbox.svg) no-repeat;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: -1px;
    left: 3px;
    opacity: 0;
   
}
.check-input:checked + .checkbox-label::after {
    opacity: 1;
}
.rating-area {
    display: flex;
}
.rating-area-label { 
    position: relative;
    cursor: pointer;
}
.rating-area-label::before {
    content: "";
    display: block;
    position: relative;
    width: 17px;
    height: 16px;
    background: url(../images/svg/Star.svg) no-repeat;
    top: 22px;
    left: 11px;
}
.rating-area-label::after {
    content: "";
    display: block;
    position: relative;
    width: 17px;
    height: 16px;
    background: url(../images/svg/Stargold.svg) no-repeat;
    top: 6px;
    left: 11px;
    opacity: 0;
}
.rating-area-star:checked + .rating-area-label::after,
.rating-area-star:checked + .rating-area-label::after,
.rating-area-star:checked + .rating-area-label::after,
.rating-area-star:checked + .rating-area-label::after,
.rating-area-star:checked + .rating-area-label::after {
    opacity: 1;
}
