.contactus-tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 60px;
    margin-left: 0px;

}
.wrapper-form {
    display: flex;
    justify-content: space-between;
}
.helpinfo {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-top: 29px;
}

.help-text  {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}
input::placeholder {
    color: #1E0606;
}
.button-form { 
    margin-top: 25px;
}

