* {
    box-sizing: border-box;
}
.main {
    position: relative;
}
.banner {
    background: #EEE4DB;
    margin-top: 129px;
 }
.banner-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 89px;
}

.banner-tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
    padding-top: 89px;
    padding-left: 133px;
    width: 90%;
}
.banner-text {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
    padding-left: 133px;
}
.banner-button {
    margin-top: 20px;
    margin-left: 133px;
}                       
.banner-img {
    width: 636px;
    margin-top: -9%;
    margin-left: -23%;
    margin-bottom: -8%;           
}
.banner-bottom {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center; 
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px;
    background: #C29974;
}
.category {
    position: relative;
}
.category-tittle {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 90px;
}
.text-category {
    display: block;
    width: 580px;
    height: 44px;
    margin-top: 6px;
    margin-left: 104px;
    cursor: context-menu;
}
.container-delivery {
    display: flex;
    align-items: flex-start;
    margin-top: 83px;
}
.container-delivery img {
    width: 480px;
    height: 559px;
}
.container-delivery a {
    text-decoration: none;
}
.delivery {
    display: flex;
    flex-direction: column;
    width: 540px;
}
.delivery-wrapper {
    margin-left: 121px;
}
.delivery-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}
.delivery-h2 {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}
.delivery-h3 {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.delivery-list {
    margin-left: -40px;
}
.delivery-list a {
    text-decoration: none;
    color: #1E0606;
}
.delivery-list li:nth-child(1) {
    color: royalblue;
}
.delivery-text {
    width: 480px;
    margin-top: 30px;
}
.delivery-button {
    display: block;
    width: 149px;
    margin-top: 26px;
}
.partners {
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: default;
}
.partner {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 116px;
}
.partner-list {
    margin-left: -41px;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 38px;
}
.article-container {
    width: 543px;
    background: #E1F0F7;
}
.article-tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: -25px;
}
.article-text {
    margin-top: -31px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.article-about {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-top: -18px;
    padding-bottom: 20px;
}
.article-contact {
    padding-bottom: 13px;
}
.article-btn {
    display: block;
    width: 123px;
    margin-left: 30px;
    margin-bottom: 27px;
    margin-top: -14px;
  }

.article img {
    width: 483px;
    margin-left: 30px;
    margin-bottom: -112px;
}

.rectangle-left::before,
.rectangle-right::after {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2); 
    left: 1px;
    bottom: 1px;    
}
.rectangle-right::after {
    left: 42px;
    bottom: 1px;
}
.vector-left,
.vector-right  {
    position: absolute;
    width: 35px;
    height: 75px;
    background: url(../images/svg/vectorL.svg) no-repeat;
    left: 10px;
    bottom: -41px;
    cursor: pointer;
}
.vector-right {
    background: url(../images/svg/vectorR.svg) no-repeat;
    left: 52px;
}                    